<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}">

    <style>
        #loading {
            display: none;
        }

        .image-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .image-item {
            max-width: 400px;
            text-align: center;
        }

        .image-label {
            margin-top: 10px;
        }

        summary {
            cursor: pointer;
        }


    </style>
    <script>
        function showLoading() {
            console.log("showLoading")
            document.getElementById('loading').style.display = 'initial';
            document.getElementById('submit').disabled = true;
        }

        function hideLoading() {
            console.log("hideLoading")
            document.getElementById('loading').style.display = 'none';
            document.getElementById('submit').disabled = false;
        }

        // Use pageshow event to hide loading on back navigation
        window.addEventListener('pageshow', function (event) {
            // Check if the event persisted property is false
            if (event.persisted) {
                hideLoading();
            }
        });
    </script>
</head>
<body>
<h1>Search</h1>
<form action="{{ url_for('results') }}" method="post" onsubmit="showLoading()">
    <label for="search_query">Topic:</label>
    <input type="text" id="search_query" name="search_query" required>
    <button id="submit" type="submit">Search</button>
    <span id="loading">Loading...</span>
</form>
<h1 style="margin-top: 2rem">Datasets</h1>
{% for dataset in datasets %}
    <details>
        <summary>
            <span>{{ dataset.name }}</span>
            <span> (</span>
            <span>{{ dataset.images|length }}</span>
            <span>)</span>
        </summary>
        <div class="image-container">
            {% for image in dataset.images %}
                <div class="image-item">
                    <img src="{{ url_for('serve_image', filename=os.path.basename(image.image_path)) }}"
                         alt="{{ image.label }}"
                         style="max-width: 400px;max-height: 400px;">
                    <p class="image-label">
                        <span style="font-weight: bold">{{ image.id }}</span>
                        <br>
                        <span>{{ image.label }}</span>
                    </p>
                </div>
            {% endfor %}
        </div>
    </details>
{% endfor %}
</body>
</html>
